h1 {
    color: rgb(186, 179, 146);
    text-align: center;
    font-family: 'Cinzel', serif;
    padding: 100px;
    background-color: black;
   
  }

h4 {
    color: white;
    font-family: 'Cinzel', serif;
    text-align: justify; 
  
}

