html {

  display: flex;
}


body {
    background-color: black;
  }


header {
	position: center;
	top: 0px;
	left: 0px;
	width: 1200px;
	height: 9px;
  margin: 0px;
  padding: 0px;
  display: flex;
  flex-direction: column;

}
.header{

    width: 2000px;
	 height: 400px;
    margin: 0px;
    padding: 0px;
}  

h1 {
    color: rgb(186, 179, 146);
    text-align: center;
    font-family: 'Cinzel', serif;
    padding: 100px;
    background-color: black;
   
  }

h4 {
    color: white;
    font-family: 'Cinzel', serif;
    text-align: justify; 
  
}

p {
    font-family: arial;
    color: white;
    font-size: 14px;
    hyphens: none; 
	  text-align: justify; 
    width: 350px;
  
  }

.about-me {

    font-family: 'Old Standard TT', serif;
    margin: 1px;
    padding: 100px;
    justify-content: center;
    color: white;
    font-size: 20px;
    text-decoration: none;
    display: flex;
  
    
  }

  .bilder {
    border-radius: 200px;
    width: 200px;
	  height: 200px;
    display: flex; 
    justify-content: center;
    border-color: rgb(88, 77, 6);
    border-width: 2px;
    border-style: solid; 
      
  }

  .titlepic {
    display: flex; 
  justify-content: center;
  padding: 100px;
  display: flex; }

  .titlelink {
    display:flex;
    justify-content: center;
  }

  .nav-link
  {
    font-family: 'Cinzel', serif;
    margin: 40px;
    padding: 40px;
    display: flex; 
    justify-content: left;
    color: white;
    font-size: 20px;
    text-decoration: none;
  }

.ref
{

    border-radius: 200px;
    width: 200px;
	  height: 200px;
    display: flex; 
    justify-content: center;
    border-color: rgb(88, 77, 6);
    border-width: 2px;
    border-style: solid; 
   
}