.titelbild {
    border-radius: 200px;
    width: 200px;
	  height: 200px;
    display: flex; 
    justify-content: center;
    border-color: rgb(88, 77, 6);
    border-width: 2px;
    border-style: solid; 
      
  }

  .bilder {
    display: flex; 
  justify-content: center;
  padding: 100px;
  display: flex; }

  .titlelink {
    display:flex;
    justify-content: center;
  }

  .nav-link { font-family: 'Cinzel', serif;
    margin: 40px;
    padding: 40px;
    display: flex; 
    justify-content: left;
    color: white;
    font-size: 20px;
    text-decoration: none;
  }

.ref
{
border-radius: 200px;
width: 150px;
height: 150px;
display: center; 
justify-content: center;
border-color: rgb(88, 77, 6);
border-width: 4px;
border-style: solid; 
margin-left: 100px;
}

